/*
 *  TVTest DTV MPEG-2 Video Decoder
 *  Copyright (C) 2015-2022 DBCTRADO
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include <windows.h>
#include <commctrl.h>
#include "resource.h"
#include "Version.h"


LANGUAGE LANG_JAPANESE,SUBLANG_DEFAULT

STRINGTABLE
BEGIN
	IDS_PROP_TITLE,					"設定"
	IDS_STAT_TITLE,					"統計"

	IDS_DEINTERLACE_WEAVE,			"Weave"
	IDS_DEINTERLACE_BLEND,			"Blend"
	IDS_DEINTERLACE_BOB,			"Bob [60fps]"
	IDS_DEINTERLACE_ELA,			"ELA (Edge Line Average) [60fps]"
	IDS_DEINTERLACE_YADIF,			"Yadif"
	IDS_DEINTERLACE_YADIF_BOB,		"Yadif Bob [60fps]"

	IDS_THREADS_AUTO,				"自動"

	IDS_DECODER_SOFTWARE			"ソフトウェア"
	IDS_DECODER_DXVA2				"DXVA2 (EVR 利用時のみ)"
	IDS_DECODER_D3D11				"D3D11 (Windows 8 以降)"

	IDS_UNINSTALL_SUCCEEDED,		"フィルタの設定が削除されました。"
	IDS_UNINSTALL_FAILED,			"フィルタの設定を削除できません。"
END

IDD_PROP DIALOG 0,0,256,272
STYLE DS_CONTROL | WS_CHILD
CAPTION "設定"
FONT 9,"ＭＳ Ｐゴシック"
BEGIN
	LTEXT "デコーダ(&O):",-1,8,10,44,8
	COMBOBOX IDC_PROP_DECODER,56,7,120,32,WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
	LTEXT "(※次回反映)",-1,180,10,48,8

	GROUPBOX "インターレース解除 (非 DXVA 時)",-1,8,28,240,112,BS_GROUPBOX
	AUTORADIOBUTTON "インターレース解除を行う(&E)",IDC_PROP_DEINTERLACE_ENABLE,16,40,112,9,WS_GROUP
	AUTORADIOBUTTON "インターレース解除を行わない(&D)",IDC_PROP_DEINTERLACE_DISABLE,16,92,128,9
	RTEXT "インターレース解除方法(&I):",IDC_PROP_DEINTERLACE_METHOD_LABEL,16,54,96,8,WS_GROUP
	COMBOBOX IDC_PROP_DEINTERLACE_METHOD,116,51,124,64,WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
	AUTOCHECKBOX "プログレッシブ適応(&P)",IDC_PROP_ADAPT_PROGRESSIVE,24,68,96,9
	AUTOCHECKBOX "テレシネ適応(&L)",IDC_PROP_ADAPT_TELECINE,24,80,80,9
	AUTOCHECKBOX "インターレースフラグを設定する(&F)",IDC_PROP_SET_INTERLACED_FLAG,24,104,136,9
	LTEXT "※ハードウェアのインターレース解除を利用したい場合、チェックを入れてレンダラに EVR を選択してください。",IDC_PROP_DEINTERLACE_NOTE,24,116,216,16

	GROUPBOX "色調補正 (非 DXVA 時)",-1,8,148,240,96,BS_GROUPBOX

	RTEXT "明るさ(&B):",-1,16,162,56,8
	CONTROL "",IDC_PROP_BRIGHTNESS_SLIDER,"msctls_trackbar32",WS_CHILD | WS_VISIBLE | WS_TABSTOP | TBS_AUTOTICKS,76,160,128,12
	EDITTEXT IDC_PROP_BRIGHTNESS,208,160,32,12,ES_AUTOHSCROLL
	CONTROL "",IDC_PROP_BRIGHTNESS_SPIN,"msctls_updown32",WS_CHILD | WS_VISIBLE | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_SETBUDDYINT,230,160,10,12

	RTEXT "コントラスト(&C):",-1,16,178,56,8
	CONTROL "",IDC_PROP_CONTRAST_SLIDER,"msctls_trackbar32",WS_CHILD | WS_VISIBLE | WS_TABSTOP | TBS_AUTOTICKS,76,176,128,12
	EDITTEXT IDC_PROP_CONTRAST,208,176,32,12,ES_AUTOHSCROLL
	CONTROL "",IDC_PROP_CONTRAST_SPIN,"msctls_updown32",WS_CHILD | WS_VISIBLE | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_SETBUDDYINT,230,176,10,12

	RTEXT "色相(&H):",-1,16,194,56,8
	CONTROL "",IDC_PROP_HUE_SLIDER,"msctls_trackbar32",WS_CHILD | WS_VISIBLE | WS_TABSTOP | TBS_AUTOTICKS,76,192,128,12
	EDITTEXT IDC_PROP_HUE,208,192,32,12,ES_AUTOHSCROLL
	CONTROL "",IDC_PROP_HUE_SPIN,"msctls_updown32",WS_CHILD | WS_VISIBLE | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_SETBUDDYINT,230,192,10,12

	RTEXT "彩度(&S):",-1,16,210,56,8
	CONTROL "",IDC_PROP_SATURATION_SLIDER,"msctls_trackbar32",WS_CHILD | WS_VISIBLE | WS_TABSTOP | TBS_AUTOTICKS,76,208,128,12
	EDITTEXT IDC_PROP_SATURATION,208,208,32,12,ES_AUTOHSCROLL
	CONTROL "",IDC_PROP_SATURATION_SPIN,"msctls_updown32",WS_CHILD | WS_VISIBLE | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_SETBUDDYINT,230,208,10,12

	PUSHBUTTON "リセット(&R)",IDC_PROP_RESET_COLOR_ADJUSTMENT,16,224,64,14

	RTEXT "スレッド数(&T):",-1,8,254,56,8
	COMBOBOX IDC_PROP_NUM_THREADS,68,251,32,80,WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
END

IDD_STAT DIALOG 0,0,256,272
STYLE DS_CONTROL | WS_CHILD
CAPTION "統計"
FONT 9,"ＭＳ Ｐゴシック"
BEGIN
	RTEXT "出力サイズ:",-1,8,8,60,8
	LTEXT "",IDC_STAT_OUT_SIZE,72,8,64,8
	RTEXT "Iフレーム:",-1,8,20,60,8
	RTEXT "",IDC_STAT_I_FRAME_COUNT,72,20,64,8
	RTEXT "Pフレーム:",-1,8,32,60,8
	RTEXT "",IDC_STAT_P_FRAME_COUNT,72,32,64,8
	RTEXT "Bフレーム:",-1,8,44,60,8
	RTEXT "",IDC_STAT_B_FRAME_COUNT,72,44,64,8
	RTEXT "スキップフレーム:",-1,8,56,60,8
	RTEXT "",IDC_STAT_SKIPPED_FRAME_COUNT,72,56,64,8
	RTEXT "リピートフィールド:",-1,8,68,60,8
	RTEXT "",IDC_STAT_REPEAT_FIELD_COUNT,72,68,64,8
	RTEXT "再生レート:",-1,8,80,60,8
	RTEXT "",IDC_STAT_PLAYBACK_RATE,72,80,64,8
	RTEXT "基本FPS:",-1,8,92,60,8
	RTEXT "",IDC_STAT_BASE_FPS,72,92,64,8
	RTEXT "モード:",-1,8,104,60,8
	LTEXT "",IDC_STAT_MODE,72,104,64,8
	RTEXT "デコーダデバイス:",-1,8,116,60,8
	LTEXT "",IDC_STAT_HARDWARE_DECODER_DESCRIPTION,72,116,176,8

	RTEXT "",IDC_STAT_VERSION,8,256,240,8
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION TVTVIDEODEC_VERSION_MAJOR,TVTVIDEODEC_VERSION_MINOR,TVTVIDEODEC_VERSION_REV,0
 PRODUCTVERSION TVTVIDEODEC_VERSION_MAJOR,TVTVIDEODEC_VERSION_MINOR,TVTVIDEODEC_VERSION_REV,0
 FILEFLAGSMASK 0x3FL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "041104B0"
		BEGIN
			VALUE "Comments", "DTV video decoding test program\0"
			VALUE "CompanyName", "DBCTRADO\0"
			VALUE "FileDescription", "TVTest DTV Video Decoder\0"
			VALUE "FileVersion", TVTVIDEODEC_VERSION_TEXT "\0"
			VALUE "InternalName", "TVTestVideoDecoder\0"
			VALUE "LegalCopyright", "Copyright (C) 2015 DBCTRADO\0"
			VALUE "OriginalFilename", "TVTestVideoDecoder.ax\0"
#ifdef _DEBUG
			VALUE "PrivateBuild", "\0"
#endif
			VALUE "ProductName", "TVTest DTV Video Decoder\0"
			VALUE "ProductVersion", TVTVIDEODEC_VERSION_TEXT "\0"
#ifdef _DEBUG
			VALUE "SpecialBuild", "\0"
#endif
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x411, 1200
	END
END
